<div class="contact">
    <form action="">
        <label for=""></label>
        <input type="text" name="" placeholder="Write your message.." id="">
        <button type="submit">Send</button>
    </form>
</div>