---
const projects = [
    {
        id: 1,
        title: "Snapcam",
        desc: "Snappy web based camera with filters",
        // img: "",
        link: "",
    },
    {
        id: 2,
        title: "One-office",
        desc: "Docs, Sheets & Slides",
        link: "#",
    },
    {
        id: 3,
        title: "StudyBud",
        desc: "Free study app for students",
        link: "https://www.example.com/",
    },
    {
        id: 4,
        title: "Essential network",
        desc: "Networking app for students",
        link: "#",
    },
];
---

<div class="projects">
    <h2>Projects</h2>
    <ul class="wrapper">
        {projects.map(project => (
            <li class="card">
                <a href={project.link}>
                    <h3>{project.title}</h3>
                    <p>{project.desc}</p>
                </a>
            </li>
        ))}
    </ul>
</div>